#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.deadTile {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(255, 190, 134);
  border: transparent;
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}

.blackTurn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(255, 190, 134);
  border: transparent;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease-in;
  background: transparent;
}

.blackTurn:hover {
  background-color: black;
}

.whiteTurn {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgb(255, 190, 134);
  border: transparent;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease-in;
  background: transparent;
}

.whiteTurn:hover {
  background-color: white;
}

.whiteStone {
  height: 40px;
  width: 40px;
  margin: 0px;
  position: relative; /* establish positioning context for inner circle */
  background: transparent;
  border: transparent;
}

/* inner circle of diameter 48px, centered inside .whiteStone */
.whiteStone::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: white;
  box-sizing: border-box;
  border: transparent; /* adjust or remove as needed */
}

.blackStone {
  height: 40px;
  width: 40px;
  margin: 0px;
  position: relative; /* establish positioning context for inner circle */
  background: transparent;
  border: transparent;
}

.blackStone::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: black;
  box-sizing: border-box;
  border: transparent; /* adjust or remove as needed */
}

.boardContainer {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.board {
  position: relative;
  height: 640px;
  width: 640px;
  margin: auto;
  background-color: rgb(255, 190, 134);
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;

  /* 1px black grid lines every 40px (horizontal + vertical) */
  background-image:
    linear-gradient(#000 2px, transparent 1px),
    linear-gradient(90deg, #000 2px, transparent 1px);
  background-size: 40px 40px;
  /* shift the grid up/left by 1px to center it relative to the 2px border */
  background-position: 1px 1px, 1px 1px;
  background-origin: border-box;
  /* outer band 20px the same color as the board, plus inset 2px black inner line */
  box-shadow: 0 0 0 20px rgb(255, 190, 134), inset 0 0 0 2px #000;
}

.boardRow {
  display: flex;
  justify-content: center;
  width: 640px;
  height: 40px;
  margin: 0px;
}

.title {
  width: 680px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.turnIndicator {
  margin-top: 0px;
  margin-bottom: 5px;
}

.menu {
  margin-bottom: 30px;
}

.resetButton {
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px black;
}

.resetButton:active {
  background-color: #4CAF50; /* Green for active state */
  color: white;
}

.toggle-button {
  margin-left: 5px;
  margin-right: 5px;
  border: solid 1px black;
}

.toggle-button.active {
  margin-left: 5px;
  margin-right: 5px;
  background-color: #4CAF50; /* Green for active state */
  color: white;
  border: solid 1px black;
}