#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.deadTile {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: sandybrown;
  border: 1px solid grey;
  margin: 2px;
  padding: 0px;
}

.blackTurn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: sandybrown;
  border: 1px solid grey;
  margin: 2px;
  padding: 0px;
  transition: all 0.3s ease-in;
}

.blackTurn:hover {
  background-color: black;
}

.whiteTurn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: sandybrown;
  border: 1px solid grey;
  margin: 2px;
  padding: 0px;
  transition: all 0.3s ease-in;
}

.whiteTurn:hover {
  background-color: white;
}

.whiteStone {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid white;
  margin: 2px;
}

.blackStone {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  border: 1px solid black;
  margin: 2px;
}

.board {
  position: relative;
  height: 750px;
  width: 750px;
  margin: auto;
  background-color: sandybrown;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.boardRow {
  display: flex;
  justify-content: space-evenly;
  width: 750px;
  height: 50px;
}
